<div class="sidebar">
  <div class="logo-container">
    <div class="logo">clean ui</div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-sprite-before sprite-settings sprite-after sprite-arrow-right">Theme Settings</div>
    <div class="sidebar-sprite-before sprite-documentation">Documentation</div>
    <hr>
    <div class="sidebar-sprite-before sprite-dashboard"><a href="newPage.html">Dashboard</a></div>

    <hr>
    <div class="sidebar-sprite-before sprite-profile">Profile</div>
    <div class="sidebar-sprite-before sprite-message">Messaging</div>
    <div class="sidebar-sprite-before sprite-mail">Mail</div>
    <div class="sidebar-sprite-before sprite-calendar">Calendar</div>
    <div class="sidebar-sprite-before sprite-gallery">Gallery</div>
    <hr>
    <div class="sprite-after sprite-arrow-right">Forms</div>
    <div class="sprite-after sprite-arrow-right">Components</div>
    <div class="sprite-after sprite-arrow-right">Tables</div>
    <div class="sprite-after sprite-arrow-right">Charts</div>
    <hr>
    <div class="sprite-after sprite-pages sprite-after sprite-arrow-right">Pages</div>
    <hr>
    <div class="disabled">Disabled Item</div>
    <div class="sprite-after sprite-arrow-right">Infinity Nested</div>
  </div>
</div>
