.logo-container {
  background-color: #030021;
  .logo {
    display: block;
    padding: 35px 0 35px 40px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    box-sizing: border-box;
    z-index: 5;
  }

  .logo:after {
    content: "";
    background: url("../../../assets/img/ball.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -5;
  }

}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  display: inline-block;
  background-color: #38354A;

  .sidebar-content {
    font-size: 16px;
    color: #D5D3E8;
    padding: 20px 0;
    > div {
      cursor: pointer;
      position: relative;
      line-height: 50px;
      vertical-align: middle;
      padding: 0 20px;
    }
    > div:hover {
      background-color: #575761;
      font-weight: 700;
    }
    hr {
      border: none;
      height: 2px;
      background-color: #7C848C;
    }

  }

}

.sidebar-sprite-before:before {
  content: '';
  background: url('../../../assets/img/sprite-action-grey600.png') no-repeat;
  padding-right: 28px;
  position: relative;
  width: 24px;
  height: 24px;
}

.sprite-settings:before {
  background-position: -347px -143px;
}

.sprite-profile:before {
  background-position: -9px -9px;
}

.sprite-documentation:before {
  background-position: -144px -6px;
}

.sprite-dashboard:before {
  background-position: -7px -40px;
}

.sprite-message:before {
  background-position: -313px -279px;
}

.sprite-mail:before {
  background-position: -313px -279px;
}

.sprite-calendar:before {
  background-position: -313px -279px;
}

.sprite-gallery:before {
  background-position: -313px -279px;

}

.sprite-pages:before {
  background-position: -145px -177px;
}

.disabled {
  color: #7C848C;
  pointer-events: none;

}

.sprite-arrow-right:after {
  padding-right: 10px;
  background-position: -88px -284px;
  width: 8px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.sprite-arrow-right:hover:after {
  background: url('../../../assets/img/sprite-action-grey600.png') no-repeat -80px -292px;
  width: 10px;
  height: 8px;
}

@media (max-width: 1200px) {

  .sidebar {
    width: 5%;
    position: fixed;
    > div {
      display: none;
    }
  }

  .sidebar:after {
    content: "";
    background: url('../../../assets/img/sprite-action-grey600.png') no-repeat -212px -110px;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}
