:host{
  display: inline-block;
  vertical-align: top;

}

.widget-users-list-container {
  max-width: 350px;
  margin: 50px 10px;
  .widget-users-list-header {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-bottom: 2px solid #F3F4F8;
    background-color: #ffffff;
    span {
      font-size: 17px;
      font-weight: 700;
      padding: 6px;
      display: block;
    }
  }
  .widget-users-list-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    :nth-child(4n+1) {
      font-weight: 700;
      color: #575761;
    }
    span {
      padding: 12px;
      border-bottom: 2px solid #F3F4F8;
      color: #7C848C;
      font-size: 17px;
      background-color: #ffffff;
    }
    span:nth-last-of-type(1),
    span:nth-last-of-type(2),
    span:nth-last-of-type(3),
    span:nth-last-of-type(4) {
      border: none;
    }
  }
}
.height-1em{
  height: 1em;
}
