<div class="widget-users-list-container">
  <div class="widget-users-list-header shadow header-light">
    <div>
      <span class="top-left-radius5 height-1em"></span>
      <span>#</span>
    </div>
    <div>
      <span>First</span>
      <span>Name</span>
    </div>
    <div>
      <span>Last</span>
      <span>Name</span>
    </div>
    <div>
      <span class="height-1em"></span>
      <span class="top-right-radius5">Username</span>
    </div>
  </div>
  <div class="widget-users-list-content">
    <ng-container *ngFor="let user of usersList.data">
      <span>{{user.id}}</span>
      <span>{{user.firstName}}</span>
      <span>{{user.lastName}}</span>
      <span>{{user.username}}</span>
    </ng-container>

  </div>
</div>
