hr{
    height: 20px;
    background-color: #ECEFF4;
    border: none;
    margin: 0;
}

.sprite-arrow-back:before {
    background-position: -144px -112px;
    position: absolute;
    left: 50px;
    top: 25px;
}

.edit-container {
    width: 450px;
    background-color: #38354A;
    margin: auto;
    font-size: 20px;
    color: #030021;
    padding-bottom: 1px;
    filter: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-container .header {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    cursor: pointer;
}
.bold-text{
    font-weight: 700;

}
.edit-container .hr {
    height: 2px;
    border: none;
    background-color: #ffffff;
}

.inputs-container {
    font-size: 20px;
    color: #030021;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    line-height: 1.5em;
}

.inputs-container input {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.inputs-container select {
    text-align: center;
    text-align-last: center;
}

.button {
    display: block;
    margin: 20px auto 20px;
    padding: 10px 0;
    width: 200px;
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    cursor: pointer;
}
.hide {
    display: none;
}