@import "colors";


body {
  //index css only for imports
  background-color: $background;
  font-size: 0;
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .logo {
    font-size: 20px;
  }
  //class names instead of tag names, nav to navbar.css

  nav {
    font-size: 20px;
    position: relative;
    left: 20%;
    max-width: 80%;
    ul li {
      display: inline-block;
    }
  }

  //isskaidyti
  .add-widget img {
    display: block;
    margin: auto;
    max-width: 200px;
    cursor: pointer;
  }

  .widgets-container {
    position: relative;
    left: 20%;
    width: 80%;
    vertical-align: top;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 90px;

    > div,
    > a {
      width: 90%;
      border-radius: 5px;
      background-color: $background;
      margin: 20px;
      font-size: 18px;
      max-height: 800px;
      min-height: 200px;
      height: fit-content
    }
  }

  .shadow {
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  }
  //Strong tag
  .bold {
    font-weight: bold;
  }

  .top-left-radius5 {
    border-top-left-radius: 5px;
  }

  .top-right-radius5 {
    border-top-right-radius: 5px;
  }

  .header-light {
    background-color: $background;
    font-size: 20px;
    color: #575761;
    font-weight: normal;
    cursor: pointer;
  }

  .header-dark {
    background-color: #38354A;
    color: #ffffff;
    cursor: pointer;
  }

  .height-1em {
    height: 1em;
  }

  .column--1 {
    grid-column: 1;
  }

  .column--2 {
    grid-column: 2;
  }

  .column--3 {
    grid-column: 3;
  }

  .blur {
    filter: blur(4px);
    pointer-events: none;
  }

  .sprite-settings-icon {
    color: #7C848C;
    padding: 10px;
    position: relative;
  }

  .sprite-before:before {
    content: "";
    background: url('../imgs/sprite-action-grey600.png') no-repeat -107px -145px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
  }
// sass mixin
  .sprite-after:after {
    content: "";
    background: url('../imgs/sprite-action-grey600.png') no-repeat -107px -145px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 10px;
  }

  .sprite-settings-icon:after {
    background-position: -347px -143px;
  }

  .flex-bottom {
    display: flex;
    width: 80%;
    position: relative;
    left: 20%;
    justify-content: space-evenly;
    > div {
      font-size: 20px;
      height: 100px;
      width: 20%;
      background-color: red;
      margin: 10px;
      display: inline-block;
    }
  }
}

@media (max-width: 1200px) {
  .widgets-container {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    left: 5%;
    margin-top: 55px;
  }

  .column--3 {
    grid-column: 2;
  }

  .flex-bottom {
    left: 5%;
    margin: auto;
    > div {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {
  .widgets-container {
    grid-template-columns: repeat(1, 1fr);
    > div {
      margin: 20px auto;
    }
  }

  .column--2,
  .column--3 {
    grid-column: 1;
  }
}