nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: #828388;
  width: 80%;
  z-index: 10;
  background-color: #ffffff;
  .nav-left {
    display: inline-flex;
    justify-content: left;
    padding-left: 20px;
    > div {
      padding: 34px 30px;
      font-size: 16px;
    }
    .nav-right {
      display: inline-flex;
      justify-content: right;
      padding-right: 40px;
      .input-container {
        margin: auto;
        input {
          height: 24px;
          border-radius: 24px;
          padding: 7px 10px;
        }
      }
      .input-container:after {

        content: "";
        display: inline-block;
        background: url('../../imgs/sprite-action-grey600.png') no-repeat -246px -314px;
        width: 18px;
        height: 18px;
        position: relative;
        right: 30px;
        top: 3px;
      }
      .nav-right-icon {
        margin: auto;
        background: url("../../imgs/obama.jpg") no-repeat center;
        height: 50px;
        width: 50px;
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 50%;
      }
      .sprite-arrow-down:after {
        position: relative;
        left: 55px;
        top: 10px;
      }
    }
  }

}

.sprite-paper:before {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../../imgs/sprite-action-grey600.png') no-repeat -145px -177px;
  width: 16px;
  height: 20px;
  top: 2px;
  right: 10px;
}

.sprite-server-hdd:before {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../../imgs/sprite-action-grey600.png') no-repeat -178px -178px;
  width: 18px;
  height: 18px;
  top: 2px;
  right: 10px;
}

.sprite-label:before {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../../imgs/sprite-action-grey600.png') no-repeat -9px -177px;
  width: 16px;
  height: 20px;
  top: 2px;
  right: 10px;
}

.sprite-arrow-down:after {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../../imgs/sprite-action-grey600.png') no-repeat -80px -292px;
  width: 10px;
  height: 8px;
  left: 10px;
}

@media (max-width: 1200px) {
  nav {
    width: 95%;
    left: 5%;
    max-width: 100%;
    height: 50px;
    background-color: #38354A;
    div {
      display: none;
    }
  }

  nav:after {

    content: "";
    background: url('../../imgs/sprite-action-grey600.png') no-repeat -212px -110px;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform-origin: left;
    transform: translate(-50%, -50%) rotate(90deg);
  }

}

