.widget-users-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  span {
    padding: 12px;

  }
}

.widget-large-users-list-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  :nth-child(4n+1) {
    font-weight: 700;
    color: #575761;

  }
  span {
    padding: 12px;
    border-bottom: 2px solid #F3F4F8;
    color: #7C848C;
    font-size: 17px;
  }
  span:nth-last-of-type(1),
  span:nth-last-of-type(2),
  span:nth-last-of-type(3),
  span:nth-last-of-type(4) {
    border: none;
  }

}
