<div class="widget-chat-container">
  <div class="widget-chat-header {{chatWidget.headerType}}">Conversation: <span>{{chatWidget.title}}</span>
  </div>
  <div class="conversations-container">
    <div class="message-container">
      <div class="icon-container"><img src="../../../../assets/img/obama.jpg"></div>
      <div class="message">
        <div class="message-author">{{chatWidget.users[1].firstName}}</div>
        <div class="message-data">{{chatWidget.data[0].message}}</div>
      </div>
    </div>
  </div>
  <textarea placeholder="Type and press enter"></textarea>
  <div class="button">Send</div>
</div>
