:host {
  display: inline-block;
  vertical-align: top;
}

.widget-chat-container {
  font-size: 12px;
  text-align: left;
  padding-bottom: 30px;
  max-width: 350px;
  margin: 50px 10px;
  background-color: #ffffff;
  hr {
    background-color: #F3F4F8;
    height: 2px;
    border: none;
  }
  textarea {
    width: 90%;
    height: 3em;
    resize: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    margin: 15px auto;
  }
  .send-button {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    width: 90%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
  }
  .send-button:before {
    width: 24px;
    height: 16px;
    position: relative;
    left: -10px;
    background-position: -107px -145px;
  }
}

.widget-chat-container {
  max-height: 600px;
  overflow: hidden;
  padding-left: 20px;
  text-align: center;
  .message-container {
    > div {
      margin: 5px 0;
      display: inline-block;
      vertical-align: top;
    }
    hr {
      display: block;
    }
    .contact-icon {
      height: 75px;
      width: 75px;
      background: url("../../../../assets/img/obama.jpg") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 50%;
      margin-top: 15px;
    }
    .other-contact-icon {
      background: url("../../../../assets/img/obama.jpg") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 50%;
      height: 75px;
      width: 75px;
      margin-top: 15px;
    }
    .contact-message {
      font-size: 16px;
      width: 60%;
      padding: 20px 10px;
      background-color: #F3F4F8;
      text-align: left;
      color: #7C848C;
      border-radius: 5px;

    }
    .message-header {
      font-size: 18px;
      font-weight: 600;
      color: #575761;
    }
  }
}
