/* line 2, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat {
  text-align: left;
  padding-bottom: 30px;
}

/* line 5, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat hr {
  background-color: #F3F4F8;
  height: 2px;
  border: none;
}

/* line 12, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container {
  max-height: 600px;
  overflow: hidden;
  padding-left: 20px;
  text-align: center;
}

/* line 18, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container > div {
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

/* line 24, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .contact-icon {
  height: 75px;
  width: 75px;
  background: url("../imgs/obama.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  margin-top: 15px;
}

/* line 33, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .other-contact-icon {
  background: url("../imgs/obama.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-top: 15px;
}

/* line 42, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .contact-message {
  font-size: 16px;
  width: 60%;
  padding: 20px 10px;
  background-color: #F3F4F8;
  text-align: left;
  color: #7C848C;
  border-radius: 5px;
}

/* line 52, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .message-header {
  font-size: 18px;
  font-weight: 600;
  color: #575761;
}

/*# sourceMappingURL=../widgetChat.map */