<!--<app-sidebar></app-sidebar>-->
<!--<app-navbar></app-navbar>-->
<app-widgets-list></app-widgets-list>
<!--<app-widget-users-list></app-widget-users-list>-->
<!--<app-content-container></app-content-container>-->
<router-outlet></router-outlet>
<app-create-edit-widget-form></app-create-edit-widget-form>
