<div class="nav">
  <div class="nav-left">
    <div class="sprite-after sprite-paper sprite-after sprite-arrow-down">Issues History</div>
    <div class="sprite-after sprite-server-hdd sprite-after sprite-arrow-down">Dashboards</div>
    <div class="sprite-after sprite-label sprite-after sprite-arrow-down">Projects</div>
  </div>
  <div class="nav-right">
    <div class="input-container">
      <input placeholder="Search..."></div>
    <div class="nav-right-icon sprite-after sprite-arrow-down"></div>
  </div>
</div>
