/* line 1, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
body {
  background-color: #ECEFF4;
  font-size: 0;
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 9, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.logo {
  font-size: 20px;
}

/* line 13, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
nav {
  font-size: 20px;
  position: relative;
  left: 20%;
  max-width: 80%;
}

/* line 18, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
nav ul li {
  display: inline-block;
}

/* line 23, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.add-widget img {
  display: block;
  margin: auto;
  max-width: 200px;
  cursor: pointer;
}

/* line 30, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.widgets-container {
  position: relative;
  left: 20%;
  width: 80%;
  vertical-align: top;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 90px;
}

/* line 39, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.widgets-container > div,
.widgets-container > a {
  width: 90%;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px;
  font-size: 18px;
  max-height: 800px;
  min-height: 200px;
  height: fit-content;
}

/* line 52, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.shadow {
  transition: box-shadow 0.3s ease-in-out;
}

/* line 56, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.shadow:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* line 60, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.bold {
  font-weight: bold;
}

/* line 64, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.top-left-radius5 {
  border-top-left-radius: 5px;
}

/* line 68, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.top-right-radius5 {
  border-top-right-radius: 5px;
}

/* line 72, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.header-light {
  background-color: #ffffff;
  font-size: 20px;
  color: #575761;
  font-weight: normal;
  cursor: pointer;
}

/* line 80, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.header-dark {
  background-color: #38354A;
  color: #ffffff;
  cursor: pointer;
}

/* line 86, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.height-1em {
  height: 1em;
}

/* line 90, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.column--1 {
  grid-column: 1;
}

/* line 94, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.column--2 {
  grid-column: 2;
}

/* line 98, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.column--3 {
  grid-column: 3;
}

/* line 102, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.blur {
  filter: blur(4px);
  pointer-events: none;
}

/* line 107, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.sprite-settings-icon {
  color: #7C848C;
  padding: 10px;
  position: relative;
}

/* line 113, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.sprite-before:before {
  content: "";
  background: url("../imgs/sprite-action-grey600.png") no-repeat -107px -145px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
}

/* line 122, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.sprite-after:after {
  content: "";
  background: url("../imgs/sprite-action-grey600.png") no-repeat -107px -145px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 10px;
}

/* line 132, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.sprite-settings-icon:after {
  background-position: -347px -143px;
}

/* line 136, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.flex-bottom {
  display: flex;
  width: 80%;
  position: relative;
  left: 20%;
  justify-content: space-evenly;
}

/* line 142, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
.flex-bottom > div {
  font-size: 20px;
  height: 100px;
  width: 20%;
  background-color: red;
  margin: 10px;
  display: inline-block;
}

@media (max-width: 1200px) {
  /* line 153, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .widgets-container {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    left: 5%;
    margin-top: 55px;
  }
  /* line 160, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .column--3 {
    grid-column: 2;
  }
  /* line 164, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .flex-bottom {
    left: 5%;
    margin: auto;
  }
  /* line 167, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .flex-bottom > div {
    width: 40%;
  }
}

@media (max-width: 767px) {
  /* line 174, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .widgets-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* line 176, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .widgets-container > div {
    margin: 20px auto;
  }
  /* line 181, C:/xampp/htdocs/dashboard-v2/scss/index.scss */
  .column--2,
  .column--3 {
    grid-column: 1;
  }
}

/*# sourceMappingURL=../index.map */