/* line 1, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.logo-container {
  background-color: #030021;
}

/* line 3, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.logo-container .logo {
  display: block;
  padding: 35px 0 35px 40px;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  box-sizing: border-box;
  z-index: 5;
}

/* line 16, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.logo-container .logo:after {
  content: "";
  background: url("../../imgs/ball.png") no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -5;
}

/* line 31, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  display: inline-block;
  background-color: #38354A;
}

/* line 39, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar .sidebar-content {
  font-size: 16px;
  color: #D5D3E8;
  padding: 20px 0;
}

/* line 43, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar .sidebar-content > div {
  cursor: pointer;
  position: relative;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 20px;
}

/* line 50, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar .sidebar-content > div:hover {
  background-color: #575761;
  font-weight: 700;
}

/* line 54, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar .sidebar-content hr {
  border: none;
  height: 2px;
  background-color: #7C848C;
}

/* line 64, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sidebar-sprite-before:before {
  content: '';
  background: url("../../imgs/sprite-action-grey600.png") no-repeat;
  padding-right: 28px;
  position: relative;
  width: 24px;
  height: 24px;
}

/* line 73, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-settings:before {
  background-position: -347px -143px;
}

/* line 77, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-profile:before {
  background-position: -9px -9px;
}

/* line 81, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-documentation:before {
  background-position: -144px -6px;
}

/* line 85, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-dashboard:before {
  background-position: -7px -40px;
}

/* line 89, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-message:before {
  background-position: -313px -279px;
}

/* line 93, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-mail:before {
  background-position: -313px -279px;
}

/* line 97, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-calendar:before {
  background-position: -313px -279px;
}

/* line 101, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-gallery:before {
  background-position: -313px -279px;
}

/* line 106, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-pages:before {
  background-position: -145px -177px;
}

/* line 110, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.disabled {
  color: #7C848C;
  pointer-events: none;
}

/* line 116, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-arrow-right:after {
  padding-right: 10px;
  background-position: -88px -284px;
  width: 8px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
}

/* line 126, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
.sprite-arrow-right:hover:after {
  background: url("../../imgs/sprite-action-grey600.png") no-repeat -80px -292px;
  width: 10px;
  height: 8px;
}

@media (max-width: 1200px) {
  /* line 134, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
  .sidebar {
    width: 5%;
    position: fixed;
  }
  /* line 137, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
  .sidebar > div {
    display: none;
  }
  /* line 142, C:/xampp/htdocs/dashboard-v2/scss/sidebar.scss */
  .sidebar:after {
    content: "";
    background: url("../../imgs/sprite-action-grey600.png") no-repeat -212px -110px;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=../sidebar.map */