
/*.widgets-container .widget-triple-users-list {*/
    /*background-color: #ECEFF4;*/

/*}*/

/*.widgets-container .widget-triple-users-list .sprite-settings-icon {*/
    /*background-color: #ffffff;*/
    /*padding: 10px 0 18px 10px;*/
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/

/*}*/

/*.widgets-container .widget-triple-users-list hr {*/
    /*margin: 0;*/
    /*background-color: #ECEFF4;*/
    /*border: none;*/
    /*height: 2px;*/
/*}*/

/*.widget-triple-users-list-container {*/
    /*margin-bottom: 30px;*/
    /*background-color: #ffffff;*/
    /*border-radius: 5px;*/
    /*transition: box-shadow 0.3s ease-in-out;*/
/*}*/

/*.widget-triple-users-list-container:hover {*/
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/

/*}*/

