/* line 1, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat {
  text-align: left;
  padding-bottom: 30px;
}

/* line 4, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat hr {
  background-color: #F3F4F8;
  height: 2px;
  border: none;
}

/* line 9, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat textarea {
  width: 90%;
  height: 3em;
  resize: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  margin: 15px auto;
}

/* line 21, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat .send-button {
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  width: 90%;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

/* line 31, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat .send-button:before {
  width: 24px;
  height: 16px;
  position: relative;
  left: -10px;
  background-position: -107px -145px;
}

/* line 40, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container {
  max-height: 600px;
  overflow: hidden;
  padding-left: 20px;
  text-align: center;
}

/* line 46, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container > div {
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

/* line 51, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container hr {
  display: block;
}

/* line 54, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .contact-icon {
  height: 75px;
  width: 75px;
  background: url("../imgs/obama.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  margin-top: 15px;
}

/* line 63, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .other-contact-icon {
  background: url("../imgs/obama.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-top: 15px;
}

/* line 72, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .contact-message {
  font-size: 16px;
  width: 60%;
  padding: 20px 10px;
  background-color: #F3F4F8;
  text-align: left;
  color: #7C848C;
  border-radius: 5px;
}

/* line 82, C:/xampp/htdocs/dashboard-v2/scss/widgetChat.scss */
.widget-chat-container .message-container .message-header {
  font-size: 18px;
  font-weight: 600;
  color: #575761;
}

/*# sourceMappingURL=../widgetChat.map */