/* line 1, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-users-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

/* line 4, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-users-list span {
  padding: 12px;
}

/* line 10, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-large-users-list-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

/* line 13, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-large-users-list-content :nth-child(4n+1) {
  font-weight: 700;
  color: #575761;
}

/* line 18, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-large-users-list-content span {
  padding: 12px;
  border-bottom: 2px solid #F3F4F8;
  color: #7C848C;
  font-size: 17px;
}

/* line 24, C:/xampp/htdocs/dashboard-v2/scss/widgetUsersList.scss */
.widget-large-users-list-content span:nth-last-of-type(1),
.widget-large-users-list-content span:nth-last-of-type(2),
.widget-large-users-list-content span:nth-last-of-type(3),
.widget-large-users-list-content span:nth-last-of-type(4) {
  border: none;
}

/*# sourceMappingURL=../widgetUsersList.map */