<div class="widgets-list-container">
  <div>
    <div *ngFor="let widget of columnOne">
      <app-widget-chat *ngIf="widget.type=== 1" [chatWidget]="widget"></app-widget-chat>
      <app-widget-users-list *ngIf="widget.type === 2" [usersList]="widget"></app-widget-users-list>
    </div>
  </div>
  <div>
    <div *ngFor="let widget of columnTwo">
      <app-widget-chat *ngIf="widget.type=== 1" [chatWidget]="widget"></app-widget-chat>
      <app-widget-users-list *ngIf="widget.type === 2" [usersList]="widget"></app-widget-users-list>
    </div>
  </div>
  <div>
    <div *ngFor="let widget of columnThree">
      <app-widget-chat *ngIf="widget.type=== 1" [chatWidget]="widget"></app-widget-chat>
      <app-widget-users-list *ngIf="widget.type === 2" [usersList]="widget"></app-widget-users-list>
    </div>
  </div>
</div>
