<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="header">Editing widget: <span id="name">widgets title</span></div>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="inputs-container">
        <div>Title</div>
        <input id="title">
        <div>Column</div>
        <select id="column">
          <option value="1">Left</option>
          <option value="2">Center</option>
          <option value="3">Right</option>
        </select>
        <div>Type</div>
        <select id="widgetType">
          <option value="1">Chat</option>
          <option value="2">Users List</option>
          <option value="3">Small Users List</option>
        </select>
        <div>HeaderType</div>
        <select id="headerType">
          <option value="1">Dark</option>
          <option value="2">Light</option>
        </select>
        <div class="hide" id="defaultUsersListTitle">Users list</div>
        <textarea class="hide" id="usersGroupInput"></textarea>
        <div>Data</div>
        <textarea placeholder="enter your data in JSON" id="messagesInput"></textarea>
      </div>

  </div>
  <div class="modal-footer">
    <div class="button btn btn-light" id="button">Submit</div>
    <div class="button btn btn-light" id="buttonDelete">Delete</div>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>
