.inputs-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.header{
  display: block;
  text-align: center;
}
